<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<main class="main" [ngClass]="noche ? 'main--noche' : '' ">
  <header class="header" [ngClass]="noche ? 'header--noche' : '' ">
    <div class="header__content">
      <h1 class="header__h1">TODO</h1>
      <img class="header__img" [ngClass]="!noche ? 'header__img' : 'header__img--activo' " src="src/../assets/images/icon-moon.svg" alt="todo icon moon" (click)="noche = !noche">
      <img class="header__img" [ngClass]="noche ? 'header__img' : 'header__img--activo' " src="src/../assets/images/icon-sun.svg" alt="todo icon sun" (click)="noche = !noche">
    </div>
  </header>
  <section class="section">
    <!-- Input para agregar cosas al todo list -->
    <div class="section__top" [ngClass]="noche ? 'section__top--noche' : '' ">
      <button class="section__submit" [ngClass]="noche ? 'section__submit--noche' : '' " type="submit" (click)="agregarTarea()"></button>
      <input class="section__input" [ngClass]="noche ? 'section__input--noche' : '' "  type="text" placeholder="Create a new todo..." [(ngModel)]="item">
    </div>
    <!-- Listado de las tareas por hacer -->
    <div class="listado" [ngClass]="noche ? 'listado--noche' : '' " *ngIf="lista.length > 0">
      <div class="listado__card card" [ngClass]="noche ? 'listado__card--noche' : '' " *ngFor="let todo of lista">
        <button class="card__btn" [ngClass]="todo.estatus ? 'card__btn--activo' : '' || noche ? 'card__btn--noche' : '' " type="submit" (click)="marcarTarea(todo)"></button>
        <p class="card__name" [ngClass]="todo.estatus ? 'card__name--activo' : '' ">{{todo.nombre}}</p>
        <img class="card__delete" (click)="eliminarTarea(todo.nombre, todo.id)" src="src/../assets/images/icon-cross.svg" alt="image cross icon">
      </div>
      <div class="listado__info info">
        <p class="info__p" [ngClass]="noche ? 'info__p--noche' : '' ">{{num}} items left</p>
        <button class="info__btn" [ngClass]="noche ? 'info__btn--noche' : '' " (click)="eliminarTodos()">clear completed</button>
      </div>
    </div>
    <div *ngIf="lista.length > 0" class="listado__botones" [ngClass]="noche ? 'listado__botones--noche' : '' ">
      <button class="boton" [ngClass]="all ? 'boton--activo' : '' || noche ? 'boton--noche' : '' " (click)="todasTareas()">All</button>
      <button class="boton" [ngClass]="active ? 'boton--activo' : '' || noche ? 'boton--noche' : '' " (click)="tareasActivas()">Active</button>
      <button class="boton" [ngClass]="completed ? 'boton--activo' : '' || noche ? 'boton--noche' : '' " (click)="tareasCompletadas()">Completed</button>
    </div>
    <p *ngIf="lista.length > 0" class="drag" [ngClass]="noche ? 'drag--noche' : '' ">Drag and drop to reorder list</p>
  </section>
  <div class="cortina" *ngIf="modalActivo || modalEliminado || modalTodos"></div>
  <div class="modal" [ngClass]="noche ? 'modal--noche' : '' " *ngIf="modalActivo">
    <img class="modal__close" (click)="modalActivo = !modalActivo" src="src/../assets/images/icon-cross.svg" alt="image cross icon">
    <h3 class="modal__h3">Are you sure to delete "{{nombre}}" ?</h3>
    <div class="modal__content">
      <button class="modal__btn" (click)="modalActivo = !modalActivo">cancel</button>
      <button class="modal__btn modal__btn--red" (click)="eliminar(idDelete)">delete</button>
    </div>
  </div>
  <div class="modal" [ngClass]="noche ? 'modal--noche' : '' "  *ngIf="modalEliminado">
    <h3 class="modal__h3">Successfully Deleted!</h3>
    <div class="modal__content">
      <svg width="46" height="45" fill="#2ecc71" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
        <path d="M256 512c141.4 0 256-114.6 256-256S397.4 0 256 0S0 114.6 0 256S114.6 512 256 512zM369 209L241 337c-9.4 9.4-24.6 9.4-33.9 0l-64-64c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l47 47L335 175c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9z"/>
      </svg>
    </div>
  </div>
  <div class="modal" [ngClass]="noche ? 'modal--noche' : '' "  *ngIf="modalTodos">
    <h3 class="modal__h3">All Records Removed</h3>
    <div class="modal__content">
      <svg width="46" height="45" fill="#2ecc71" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
        <path d="M256 512c141.4 0 256-114.6 256-256S397.4 0 256 0S0 114.6 0 256S114.6 512 256 512zM369 209L241 337c-9.4 9.4-24.6 9.4-33.9 0l-64-64c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l47 47L335 175c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9z"/>
      </svg>
    </div>
  </div>
</main>


<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
